body {
	padding-top: 70px;
}

h1 {
	font-size: 48px;
	font-family: 'Montserrat', sans-serif;
}

h2 {
	font-size: 32px;
	font-family: 'Montserrat', sans-serif;
}

h3 {
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
}

.page-header {
	margin-top: 100px;
}

.nav li a {
	font-size: 22px;
}

.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-brand {
	font-size: 36px;
}

.navbar .container .navbar-header a {
	color: #ffffff;
}

.navbar .container .navbar-header a:hover {
	color: #9d9d9d;
}

.navbar .container .navbar-collapse ul li a {
	color: #ffffff;
}

.navbar .container .navbar-collapse ul li a:hover {
	color: #9d9d9d;
}

.social-media-icon {
	margin-left: -5px;
}

.right-margin {
	margin-right: 50px;
}

.img-flipped {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.primary {
	padding-right: 60px;
	padding-left: 60px;
	margin-bottom: 30px;
	background-color: #fff;
}

.secondary {
	background-color: #f4f4f4;
}

.extra-margin {
	margin-top: 20px;
}

.right-align {
	text-align: right;
}
.featherlight .featherlight-content {
	max-width: 500px;
}

@media (min-width: 768px) {
	#navbar {
		float: right;
	}
}

@media (max-width: 768px) {
	.right-margin {
		margin-right: 0px;
	}
}

@media (min-width: 768px) and (max-width: 990px) {
	#navbar {
		float: right;
		margin-left: -15px;
	}
	.right-margin {
		margin-right: 5px;
	}
}

@media screen and (min-width: 768px) {
	.primary {
		padding-top: 48px;
		padding-bottom: 48px;
	}
}
