body {
  padding-top: 70px;
  padding-bottom: 30px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-brand {
    font-size: 36px;
    margin-right: 125px;
}
.nav li {
    font-size: 22px;
}
