/* Default styles */

body {
	padding-top: 70px;
	background-color: #333639;
}

h1 {
	font-size: 48px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}

h2 {
	font-size: 32px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

h3 {
	font-size: 22px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
}


/* Navigation styles */

.page-header {
	margin-top: 100px;
	border-bottom: 1px solid #ddd;
}

.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-brand {
	font-size: 36px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}

.nav li a {
	font-size: 22px;
}

.navbar .container .navbar-header a {
	color: #adb9bd;
}

.navbar .container .navbar-header a:hover {
	color: #9d9d9d;
}

.navbar .container .navbar-collapse ul li a {
	color: #adb9bd;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

.navbar .container .navbar-collapse ul li a:hover {
	color: #9d9d9d;
}

.social-media-icon {
	margin-left: -5px;
}


/* Section styles */

.primary {
	margin-bottom: 0px;
	padding-top: 48px;
	padding-bottom: 0px;
	color: #adb9bd;
}

.secondary {
	background-color: #fAfAfA;
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}


/* Helpers */

.extra-margin {
	margin-top: 30px;
}

.right-margin {
	margin-right: 50px;
}

.right-align {
	text-align: right;
}


/* Fun styles */

.featherlight .featherlight-content {
	max-width: 500px;
	font-size: 18px;
}

.shadow {
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.marketer {
	position: absolute;
	top: 150px;
	left: 1%;
	width: 25%;
}

.coder {
	position: absolute;
	top: 150px;
	left: 75%;
	width: 25%;
}


/* Media queries */

@media (min-width: 768px) {
	#navbar {
		float: right;
	}
}

@media (max-width: 768px) {
	.right-margin {
		margin-right: 0px;
	}
	.marketer {
		top: 100px;
		left: 10%;
	}
	.marketer h1 {
		font-size: 28px;
	}
	.coder {
		top: 100px;
		left: 65%;
		text-align: right;
	}
	.coder h1 {
		font-size: 28px;
	}
	.marketer h3 {
		font-size: 14px;
	}
	.coder h3 {
		font-size: 14px;
	}
}

@media (min-width: 768px) and (max-width: 990px) {
	#navbar {
		float: right;
		margin-left: -15px;
	}
	.right-margin {
		margin-right: 5px;
	}
	.coder {
		text-align: right;
	}
}

@media (max-width: 710px) {
	.marketer {
		top: 75px;
		left: 7%;
	}
	.coder {
		top: 75px;
		left: 70%;
	}
	.marketer h3 {
		font-size: 12px;
	}
	.coder h3 {
		font-size: 12px;
	}
}

@media (max-width: 550px) {
	.marketer h3 {
		display: none;
	}
	.coder h3 {
		display: none;
	}
}

@media (max-width: 415px) {
	.marketer {
		top: 50px;
	}
	.coder {
		top: 50px;
	}
}

@media (max-width: 365px) {
	.marketer {
		display: none;
	}
	.coder {
		display: none;
	}
}